<p><h1>General</h1></p>
<h4>I'm a programmer living in Sydney. You can contact me using Twitter
or emailing me at lengarvey gmail com.</h4>
<p><h1>Skills</h1></p>
<h4><em>I make things work</em>, from databases to web front-ends, from Linux to Windows</h4>
<h4>I program proficiently in several languages, but love Ruby.
I can administer servers, but I'm not really a sysadmin.
My biggest skill is making things.. just.. work...</h4>
