<!doctype html>
<html>
  <head>
    <meta name="google-site-verification" content="6VuSKw9fRx1NDfDmwv77GIg0d2apMb0m-7K3KcMk_7Q" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link type="text/css" rel="stylesheet" href="/js/sh_vim-dark.min.css">
    <script type="text/javascript" src="/js/sh_main.min.js"></script>
    <script type="text/javascript" src="/js/sh_ruby.min.js"></script>
    <script type="text/javascript" src="/js/sh_javascript.min.js"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title %></title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22006053-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body onload='sh_highlightDocument();'>
    <header>
      <nav>
      <a href="/" class="text"><i class="light">LEONARD</i> <i class="dark">GARVEY</i></a>
        <a href="http://twitter.com/lgarvey"><img src="/images/icons/twitter.png"/></a>
        <a href="https://github.com/lengarvey"><img src="/images/icons/github.png"/></a>
        <a href="mailto:hi@bottledup.net"><img src="/images/icons/mail.png"/></a>
        <aside>
        <a href="/about">ABOUT</a>
        </aside>
      </nav>
    </header>
    <section class="container">
    <div class="span-18 prepend-3 append-3 last">
        <%= yield %>
      </div>
    </section>
    <footer class="container">
      <div class="span-10 prepend-14 last">
        powered by <a href="http://github.com/lengarvey/toto">toto</a> and <a href="http://github.com/lengarvey/redcarpet">redcarpet</a>
      </div>
    </footer>
  </body>
</html>

